# ---> Go
# Binaries for programs and plugins
isaaksay
gunersay
!/cmd/*

# Build directory
release

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Drone environment file
.env
.secrets
